*::before, *::after {
    box-sizing: border-box;
    user-select: none;
}
#myButton{
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    position: absolute;
    top: 80%;
    left: 50%;
}
body{
       background-image: url("https://media.discordapp.net/attachments/1067565429771481131/1078704734535438496/drivingrange_-_Edited.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }