/* *::before, *::after {
    box-sizing: border-box;
    user-select: none;
} */
body {
    background-image: url('images/https://media.discordapp.net/attachments/1067565429771481131/1078724119492837446/Landscape.png');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
 }

#myButton{
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    position: absolute;
    top: 80%;
    left: 50%;
} */
#strikeBall{
    background-color: firebrick;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    position: absolute;
    top: 20%;
    left: 80%;
}

#gif {
    display: none;
    position: relative;
    left: -400px;
    top: 150px;
    transform: translateY(10%);
}

.ball {
    position: relative;
    top: 105px;
    left: 26%;
    width: 30px;
    height: 30px;
    opacity: 1;
    transition: all 1s ease-out;
}